#smartquail: Qnodes_Frameworks requiremnts
Django==3.2.12
wagtail
python-memcached
django-memcache-status
django-embed-video
django-baton==2.2.1
django-braces==1.15.0


#smartquail: Qnodes_Services requiremnts
celery==4.3.0
django-celery-results==1.1.2
kombu==4.6.6
psycopg2>=2.8.6,<2.9
uWSGI >=2.0.19.1,<2.1
redis ==4.1.3
flower
#gunicorn>=20.0.4,<20.1


#smartquail: Qnodes_Lenguajes requiremnts

django-parler
django-extensions
django-localflavor
django-rosetta

#smartquail: Qnodes_webapp requiremnts

django-bootstrap4
django-widget-tweaks==1.4.8
social-auth-app-django
sorl-thumbnail
easy-thumbnails==2.8


#smartquail: Qnodes_webapp_reports requiremnts


#WeasyPrint==50
#django-weasyprint
django-phonenumber-field[phonenumbers]
#smartquail: Qnodes_webapp_brokers requiremnts
braintree

#smartquail: Qnodes_smart_business_media requiremnts
django-extensions==3.1.3
wagtail-markdown==0.7


#smartquail: Qnodes_Cahed requiremnts
python-memcached
django-memcache-status

##smartquail: Qnodes_API requiremnts
djangorestframework

django-extensions==3.1.3
wagtail-markdown==0.7
Pygments
wagtail-django-recaptcha==1.0
django-crispy-forms==1.12.0
crispy-bootstrap5==0.4
wagtailmenus==3.0.2
wagtail-metadata==3.4.0
python-webpack-boilerplate==0.0.3
django-contrib-comments==2.1.0
emoji==0.6.0
django-widget-tweaks==1.4.8
